.header-desktop {
  // box-shadow: 0px 3px 15px 0px #18264126;

  @media (max-width: $bp-md) {
    display: none;
  }

  &__fast-nav {
    .hide-text {
      color: #fff;

      font-size: 15px;
      text-transform: capitalize;
      font-weight: 700;
      // @media (max-width: $bp-ls) {
      //   display: none;
      // }
    }
  }

  &__callback-wrap {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 8px;
    .header-desktop__social,
    button {
      max-width: calc(50% - 4px);
    }
  }

  &__address {
    max-width: 285px;
  }

  &__top {
    position: relative;
    z-index: 2;
    background: #fff;
    padding-bottom: 24px;
    padding-top: 24px;
    &-logo {
      img {
        @media (max-width: $bp-ls) {
          max-width: 200px;
        }
      }
    }
    &-row {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: space-between;
    }
    &-centered {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      width: 100%;
      gap: 24px;
      @media (max-width: $bp-ls) {
        max-width: 360px;
      }
    }
  }
  &__address-block {
    max-width: 250px;
    min-width: 250px;
    * {
      @media (max-width: $bp-ls) {
        font-size: 12px;
      }
    }

    svg {
      min-width: 16px;
    }
  }

  &__social {
    a {
      width: 38px;
      height: 38px;
    }
  }

  &__main {
    background-color: #fff;
    .container {
      padding: 0;
    }
    &-row {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      box-shadow: 0px 3px 15px 0px #18264126;

      // @media (max-width: $bp-lg) {
      //   display: grid;
      //   grid-template-columns: 1fr 1fr;
      //   grid-template-areas:
      //     "one three"
      //     "two two";
      //   gap: 10px;

      //   .header-desktop__menu {
      //     grid-area: two;
      //   }
      // }
    }
  }

  &__menu {
    &__nav {
      width: max-content;

      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &-item {
        position: relative;
        &:hover > .header-desktop__menu__nav-submenu {
          opacity: 1;
          visibility: visible;
        }

        a {
          display: block;
          font-weight: 600;
          padding: 20px 28px;
          transition: 0.2s;
          width: 100%;
          min-width: max-content;
          border-bottom: 3px solid transparent;
          opacity: 1;
          @media (max-width: $bp-ls) {
            padding: 10px;
          }
          &:hover {
            border-color: inherit;
          }
        }
      }

      &-submenu {
        top: 100%;
        z-index: 2;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
        padding: 32px 32px 12px;
        border-radius: $primary-radius;
        box-shadow: 0px 5px 20px 0px #1826411a;
        background-color: #fff;
        min-width: 250px;
        width: max-content;
        max-width: 340px;
        a {
          display: block;
          padding: 20px 0;
        }

        li {
          &:first-child {
            a {
              padding-top: 0;
            }
          }
        }

        // .header-desktop__menu__nav-submenu {
        //   position: absolute;
        //   left: calc(100% + 4px);
        //   width: max-content;
        //   top: -4px;
        //   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1098039216);
        //   opacity: 0;
        //   visibility: hidden;
        // }
      }
    }
  }

  .catalog-button {
    padding: 20px 40px;
  }
}
