/* color */
.primary-dark-color{color: $primary-dark!important;}
.primary-blue-color{color: $primary-blue!important;}
.primary-light-color{color: $primary-light!important;}
.blue-light-color{color: $blue-light!important;}
.white-color{color:#fff!important}
.blind-gray-color{color: $blind-gray!important;}
.secondary-gray-color,.secondary-gray-color *{color: $secondary-gray!important;}

.primary-dark-bg{background-color: $primary-dark;}
.primary-blue-bg{background-color: $primary-blue;}
.primary-light-bg{background-color: $primary-light;}
.secondary-gray-bg{background-color: $secondary-gray;}
.blue-light-bg{background-color: $blue-light;}

/* display and everything */
.d-flex{display: flex;align-items: center;}
.d-grid{display: grid;height: max-content;}
.d-block{display: block;}
.flex-wrap{flex-wrap:wrap}
.align-center{align-items: center;}
.align-end{align-items: end;}
.align-start{align-items: start;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.justify-end{justify-content: end;}
.place-center{place-items: center;}
.gap-4{gap:4px}
.gap-8{gap:8px}
.gap-12{gap:12px}
.gap-14{gap:14px}
.gap-16{gap:16px}
.gap-20{gap:20px}
.gap-24{gap:24px}
.gap-32{gap:32px}
.gap-40{gap:40px}
.col-2{grid-template-columns: 1fr 1fr;}
.col-sm-30-1{grid-template-columns: 30% 1fr; @media (max-width: $bp-sm) { grid-template-columns: 1fr; }}
.col-sm-2{grid-template-columns: 1fr 1fr; @media (max-width: $bp-sm) { grid-template-columns: 1fr; }}
.col-md-2{grid-template-columns: 1fr 1fr; @media (max-width: $bp-md) { grid-template-columns: 1fr; }}
.col-md-3{grid-template-columns: 1fr 1fr 1fr;@media (max-width: $bp-md) { grid-template-columns:1fr 1fr; } @media (max-width: $bp-sm) { grid-template-columns: 1fr; }}
.col-md-5{grid-template-columns: repeat(5,1fr);@media (max-width: $bp-md) { grid-template-columns:1fr 1fr 1fr; } @media (max-width: $bp-sm) { grid-template-columns: 1fr 1fr; }}

/* text */
.text-center{text-align: center;}
.text-start{text-align: start!important;}
.text-end{text-align: end;}
.text-uppercase{text-transform: uppercase;}

.text-solid{ border-bottom: 1px solid;}
.text-dashed{ border-bottom: 1px dashed;}

/* font-sizes */
.fs-12{font-size: 12px;}
.fs-14,.fs-14 *{font-size: 14px;}
.fs-15,.fs-15 *{font-size: 15px;}
.fs-16,.fs-16 *{font-size: 16px;}
.fs-17,.fs-17 *{font-size: 17px;}
.fs-18,.fs-18 *{font-size: 18px;}
.fs-20,.fs-20 *{font-size: 20px;}
.fs-24,.fs-24 *{font-size: 24px;}
.fs-17-13{ font-size: 17px; @media (max-width: $bp-md) { font-size: 13px; } }
.fs-21-15,.fs-21-15 *{ font-size: 21px; @media (max-width: $bp-md) { font-size: 15px; } }
.fs-24-17{ font-size: 24px; @media (max-width: $bp-md) { font-size: 17px; } }
.fs-25-18{ font-size: 25px; @media (max-width: $bp-md) { font-size: 18px; } }
.fs-28-19{ font-size: 28px; @media (max-width: $bp-md) { font-size: 19px; } }
.fs-32-19{ font-size: 32px; @media (max-width: $bp-md) { font-size: 19px; } }
.fs-32-23{ font-size: 32px; @media (max-width: $bp-md) { font-size: 23px; } }
.fs-48-33{ font-size: 48px; @media (max-width: $bp-md) { font-size: 33px; } }
.fs-56-39{ font-size: 56px; @media (max-width: $bp-md) { font-size: 39px; } }
.fs-96-32{ font-size: 96px; @media (max-width: $bp-md) { font-size: 32px; } }

.section-title{ text-align: center;font-size: 56px;margin-bottom: 24px;@media (max-width: $bp-md) { font-size: 39px;text-align:left; }}
.section-title--mini{text-align: left;font-size: 32px;margin-bottom: 24px;@media (max-width: $bp-md) { font-size: 23px;}}

.fw-400{font-weight: 400;}
.fw-500{font-weight: 500!important;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}

/* paddings or margins */
.m-0{margin: 0!important;}
.mr-20{margin-right: 20px;}
.mb-8{margin-bottom: 8px;}
.mb-12{margin-bottom: 12px;}
.mb-14{margin-bottom: 14px;}
.mb-16{margin-bottom: 16px;}
.mb-24{margin-bottom: 24px;}
.mb-32{margin-bottom: 32px;}
.mt-16{margin-top: 16px;}
.mt-32{margin-top: 32px;}
.mt-32-16{margin-top: 32px; @media (max-width: $bp-sm) { margin-top: 16px; }}
.mb-32-16{margin-bottom: 32px; @media (max-width: $bp-sm) { margin-bottom: 16px; }}
.mr-16{margin-right: 16px;}
.m-auto{margin: auto;}
.ml-auto{margin-left: auto;}
.ml-right{margin-right: auto;}
.mt-auto{margin-top: auto;}
.mb-auto{margin-bottom: auto;}
.section-margin{
    margin-bottom: 16px;
    @media (max-width: $bp-sm) { margin-bottom: 24px; }
}

.mb-16-8{ margin-bottom: 16px; @media (max-width: $bp-sm) { margin-bottom: 8px; } }
.mb-24-16{ margin-bottom: 24px; @media (max-width: $bp-sm) { margin-bottom: 16px; } }
.mb-32-24{ margin-bottom: 32px; @media (max-width: $bp-sm) { margin-bottom: 24px; } }

/* other */
.cursor-pointer{cursor: pointer;}
.w-content{width: max-content;}
.w-100{width: 100%!important;}
.primary-radius{border-radius:$primary-radius}
.font-candara,.font-candara *{font-family: "Candara";}
.font-montserrat,.font-montserrat *{font-family: "Montserrat"!important;}
.sm-d-none{@media (max-width: $bp-sm) {display: none!important;}}
.xs-d-none{@media (max-width: $bp-xs) {display: none!important;}}
.xs-d-block{@media (min-width: $bp-xs) {display: none!important;}}
.sm-d-block{@media (min-width: $bp-sm) {display: none!important;}}
.block-scroll {overflow: hidden;}
.old-price{color: $secondary-gray;text-decoration: line-through; font-size: 21px;@media (max-width: $bp-md) { font-size: 14px; }}
.primary-stroke{stroke:$primary-dark}
.primary-fill{fill:$primary-dark}
.secondary-gray-stroke{stroke:$secondary-gray}
.br-primary-small{border-radius: $primary-radius ;@media (max-width: $bp-sm) {border-radius: $small-radius}}
.block-title,.block-title *{ font-family: "Candara"; font-size: 28px; font-weight: 700; @media (max-width: $bp-sm) { font-size: 19px; } }