// Primary Colors
$primary-dark: #182641; // Темно-синий (фон кнопок)
$primary-blue: #365084; // Ярко-синий (средний)
$primary-light: #5779bc; // Светло-синий (hover)

// Grayscale
$secondary-gray: #858ea0;
$secondary-light-gray: #f2f5f8;
$blind-gray: #c0c7d6;
$light-gray: #f7f7f7;

// Blue
$blue-light: #a4bae5;

$secondary-red: #ff4141;

// other
$small-radius: 16px;
$primary-radius: 24px;
$big-radius: 40px;

// State Colors
$warning-color: #ffc107;
$success-color: #00d054;
$error-color: #ff4141;

// breakpoint
// $bp-xs: 640px;
// $bp-sm: 768px;
// $bp-md: 1024px;
// $bp-lg: 1280px;
// $bp-xl: 1536px;


$bp-xs: 640px;
$bp-sm: 768px;
$bp-md: 1300px; // было 1024px
$bp-lg: 1400px; // было 1280px
$bp-ls: 1500px;
$bp-xl: 1700px; // было 1536px