// Primary Colors
$primary-dark: #182641; // Темно-синий (фон кнопок)
$primary-blue: #365084; // Ярко-синий (средний)
$primary-light: #5779bc; // Светло-синий (hover)

// Grayscale
$secondary-gray: #858ea0;
$secondary-light-gray: #f2f5f8;

// Blue
$blue-light: #a4bae5;

// State Colors
// $success: #4caf50; // Зеленый (успех)
// $warning: #ffc107; // Желтый (предупреждение)
// $error: #f44336; // Красный (ошибка)

// breakpoint
$breakpoint-xs: 576px;
$breakpoint-sm: 767px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
