.breadcrumbs {
  margin: 24px 0 14px;
  padding-bottom: 10px;
  overflow-x: auto;
  min-height: max-content;
  @media (max-width: $bp-md) {
    margin-top: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: max-content;
  }

  .breadcrumbs-item {
    color: $primary-dark;

    a {
      color: $primary-dark;
    }
  }
}
