.categories {
  &__row {
    display: flex;
    gap: 16px;
    @media (max-width: $bp-md) {
      flex-direction: column;
    }
  }
  &__blocks {
    width: 100%;
    height: max-content;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    display: grid;

    // display: none;
    // opacity: 0;
    // visibility: hidden;
    // transition: 0.3s;
    // &.opened {
    //   display: grid;
    //   opacity: 1;
    //   visibility: visible;
    // }

    @media (max-width: $bp-sm) {
      grid-template-columns: 1fr;
    }
    &__item {
      border-radius: $primary-radius;
      background: #fff;
      padding: 30px 60px;
      @media (max-width: $bp-md) {
        padding: 24px;
      }
      @media (max-width: $bp-sm) {
        border-radius: $small-radius;
        padding: 12px;
      }
      &.grid-column-2 {
        @media (min-width: $bp-sm) {
          grid-column: span 2;
        }
      }
      &-title {
        // cursor: pointer;
        // transition: 0.3s;
        &:hover {
          svg.desktop-arrow {
            left: -10px;
          }
        }
        @media (min-width: $bp-sm) {
          margin-bottom: 24px;
          // &:hover {
          //   opacity: 0.7;
          // }
        }
        @media (max-width: $bp-sm) {
          justify-content: space-between;
        }

        a {
          font-weight: 700;
          font-size: 32px;
          line-height: 100%;
          @media (max-width: $bp-md) {
            font-size: 23px;
          }
        }
        svg {
          position: relative;
          left: 0;

          min-width: 16px;
          transition: 0.2s;
          &.desktop-arrow {
            @media (max-width: $bp-sm) {
              display: none;
            }
          }
          &[data-opened-btn] {
            transform: rotate(90deg);
            transition: 0.2s;
            @media (min-width: $bp-sm) {
              display: none;
            }
            &.active {
              transform: rotate(270deg);
            }
          }
        }
      }

      &-childs {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 16px;

        @media (max-width: $bp-md) {
          gap: 16px;
        }
        @media (max-width: $bp-sm) {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;
          &.opened {
            max-height: 1000px;
            transition: max-height 0.3s ease-in;
            margin-top: 16px;
          }
        }

        &-item {
          width: calc(50% - 20px);
          display: flex;
          align-items: center;
          gap: 16px;
          font-weight: 700;
          word-break: break-word;
          // height: 63px;
          @media (max-width: $bp-ls) {
            font-size: 14px;
          }
          @media (max-width: $bp-md) {
            width: calc(50% - 8px);
            font-size: 12px;
          }

          a {
            @media (max-width: $bp-md) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  &__menu {
    max-width: 295px;
    width: max-content;
    height: max-content;

    border-radius: $primary-radius;

    @media (min-width: $bp-md) {
      position: sticky;
      top: 80px;
    }
    @media (max-width: $bp-md) {
      overflow-x: auto;
      max-width: 100%;
      border-radius: $small-radius;
    }
    ul {
      @media (max-width: $bp-md) {
        display: flex;
        width: max-content;
      }
    }

    li {
      overflow: hidden;
      &:first-child {
        @media (max-width: $bp-md) {
          border-top-right-radius: $small-radius;
          border-top-left-radius: $small-radius;
        }
        @media (min-width: $bp-sm) {
          border-top-right-radius: $primary-radius;
          border-top-left-radius: $primary-radius;
        }
      }

      &:last-child {
        @media (max-width: $bp-md) {
          border-bottom-right-radius: $small-radius;
          border-bottom-left-radius: $small-radius;
        }
        @media (min-width: $bp-sm) {
          border-bottom-right-radius: $primary-radius;
          border-bottom-left-radius: $primary-radius;
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid #2b3c5e;
      }
      a {
        color: #fff;
        font-weight: 700;
        min-height: 95px;
        min-width: 200px;
        padding: 16px 24px;

        display: flex;
        align-items: center;
        gap: 16px;
        @media (max-width: $bp-sm) {
          padding: 12px;
          min-height: 58px;
          opacity: 1;
        }
        &.active {
          background-color: $primary-light;
        }
      }
    }
  }

  img {
    max-width: 64px;
    @media (max-width: $bp-md) {
      max-width: 32px;
    }
  }
}
