.footer {
  margin-top: auto;

  background-color: $primary-dark;
  padding: 40px 0;
  @media (max-width: $bp-md) {
    padding-bottom: 80px;
  }
  * {
    color: #fff;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    gap: 10%;

    @media (max-width: $bp-md) {
      flex-direction: column;
      gap: 24px;
      .gap-32 {
        gap: 16px;
      }
    }
  }
  &__info {
    gap: 24px;
    display: grid;
    height: max-content;
    max-width: 500px;
    @media (max-width: $bp-md) {
      width: 100%;
      gap: 16px;
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    &-callback {
      padding: 16px;
      min-width: 208px;
      @media (max-width: $bp-md) {
        width: 100%;
      }
    }
    &-item {
      max-width: 320px;
    }
  }
  &__menu {
    &-wrap {
      gap: 60px;
      display: flex;
      @media (max-width: $bp-md) {
        flex-direction: column;
      }
    }
    &-group {
      display: flex;
      justify-content: space-between;
      height: max-content;
      width: 50%;
      gap: 8px;
      @media (max-width: $bp-md) {
        width: 100%;
      }
      &-item {
        height: max-content;
      }
    }
  }
}
