.footer {
  margin-top: auto;

  background-color: $primary-dark;
  padding: 40px 0;
  @media (max-width: $bp-md) {
    padding-bottom: 80px;
  }
  * {
    color: #fff;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    gap: 8%;

    @media (max-width: $bp-md) {
      flex-direction: column;
      gap: 24px;
      .gap-32 {
        gap: 16px;
      }
    }

    @media (max-width: $bp-xl) {
      gap: 5%;
    }
  }
  &__info {
    gap: 24px;
    display: grid;
    height: max-content;
    max-width: 500px;
    @media (max-width: $bp-md) {
      width: 100%;
      gap: 16px;
    }
    &-logo {
      img {
        @media (max-width: $bp-sm) {
          max-width: 123px;
        }
      }
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    @media (max-width: $bp-xl) {
      justify-content: end;
    }
    @media (max-width: $bp-ls) {
      margin-bottom: -50px;
    }
    @media (max-width: $bp-md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 0;
    }

    @media (max-width: $bp-sm) {
      grid-template-columns: 1fr;
    }
    &-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      // width: 50%;
    }
    &-callback {
      padding: 16px;
      min-width: 208px;
      @media (max-width: $bp-md) {
        width: 100%;
      }
    }
    &-item {
      max-width: 320px;
      span {
        font-size: 14px;
        margin-left: 32px;
      }
      svg {
        min-width: 24px;
      }
    }
    &-social {
      height: max-content;
      @media (max-width: $bp-md) {
        height: max-content;
      }
      @media (max-width: $bp-ls) {
        display: grid;
      }

      a {
        line-height: 0;
      }
    }
  }
  &__menu {
    &-wrap {
      gap: 60px;
      display: flex;
      @media (max-width: $bp-md) {
        max-width: max-content;
        flex-direction: column;
      }
    }
    &-group {
      display: flex;
      justify-content: space-between;
      height: max-content;
      width: 50%;
      gap: 16px;
      @media (max-width: $bp-md) {
        width: 100%;
      }
      @media (max-width: $bp-sm) {
        gap: 8px;
      }
      &-item {
        height: max-content;
      }
    }
  }
}
