.subcat-rows-images {
  margin-bottom: 24px;
  @media (max-width: $bp-md) {
    display: none;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    // justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;

    background-color: #fff;
    border-radius: 24px;
    padding: 24px 32px;

    box-shadow: 0px 0 10px 1px rgba(24, 38, 65, 0.082);
  }
}
