@use "../../../../../../src/scss/utils/variables.scss";

.cart-product-big {
  display: grid;
  gap: 8px;

  &__row {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    // @media (max-width: variables.$bp-xs) {
    //   grid-template-columns: 50% 50%;
    // }
  }

  &__main-btn {
    padding: 0 !important;
    height: 56px;
    @media (max-width: variables.$bp-xl) {
      height: 30px;
    }
  }

  .show-active {
    display: none;
  }
  &.active {
    .hide-active {
      display: none;
    }
    .show-active {
      display: flex;
    }
  }

  .arrow-link {
    justify-content: end;
    @media (min-width: variables.$bp-xs) {
      width: calc(50% - 4px);
    }
  }
}
