@import "./filters.scss";
@import "./other.scss";

.category-listing {
  &__content {
    width: calc(83% - 32px);
    @media (max-width: $bp-md) {
      width: calc(75% - 32px);
    }
    @media (max-width: $bp-sm) {
      width: 100%;
    }
  }

  fieldset {
    border: none;
  }

  &__row {
    display: flex;
    gap: 32px;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 16px;
    @media (max-width: $bp-md) {
      gap: 8px;
    }

    .product-card {
      width: calc(25% - 24px);
      @media (max-width: $bp-lg) {
        width: calc(33% - 19px);
      }
      @media (max-width: $bp-md) {
        width: calc(50% - 4px);
      }
    }
  }

  &__btn-more {
    width: 100%;
    padding: 12px;
    border: 1px solid red;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
    &:hover {
      color: red;
      border-color: red;
    }
  }

  .product-main__info-docs {
    margin-top: 20px;
  }
  .product-main__info-docs-item {
    width: 100%;
  }
}
