.category-listing {
  .btn_more {
    padding: 20px;
    width: 50%;
    margin: auto;
    display: block;
    @media (max-width: $bp-sm) {
      padding: 14px;
      width: 100%;
    }
  }

  .mse2_pagination {
    margin-top: 8px;
    display: flex !important;
    justify-content: end;

    .pagination {
      display: flex;
      gap: 8px;

      .page-item {
        &:first-child,
        &:last-child {
          display: none;
        }

        &.active {
          .page-link {
            color: $primary-light;
            border-color: $primary-light;
          }
        }
      }

      .page-link {
        width: 56px;
        height: 56px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        border: 2px solid $primary-dark;

        @media (max-width: $bp-sm) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
