.certificates-page {
  min-height: 1000px;

  &__images {
    display: none;
    &.opened {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: $bp-sm) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: $bp-xs) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
