.contacts-page {
  &__row {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;

    border-radius: $primary-radius;
    background: #fff;

    @media (max-width: $bp-sm) {
      grid-template-columns: 1fr;
      padding: 16px;
    }
  }

  &__info {
    padding: 40px 64px;
    @media (max-width: $bp-sm) {
      padding: 0;
    }
  }

  iframe {
    filter: grayscale(1);
    min-height: 280px;
  }
}
