.favorites-page {
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;

    .section-title {
      margin-bottom: 0;
    }

    margin-bottom: 24px;
  }
}
