.tabs-inform-page {
  &__row {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 16px;
    @media (max-width: $bp-sm) {
      grid-template-columns: 1fr;
    }
  }
  &__categories {
    display: grid;
    height: max-content;
    gap: 24px;
    @media (max-width: $bp-xs) {
      gap: 8px;
    }
    a {
      font-weight: 700;
      font-family: "Candara";
      color: #858ea0;
      &.active {
        color: $primary-dark;
      }
    }
  }
}
