@use "../../../../../src/scss/utils/variables.scss";

.catalog-header {
  background-color: variables.$primary-dark;
  border-top-right-radius: variables.$primary-radius;
  border-bottom-right-radius: variables.$primary-radius;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s;

  &__title {
    margin: auto;
    margin-bottom: 24px;
    width: max-content;
  }
  &__container {
    position: sticky;
    z-index: 999;
    top: 0;
    padding-top: 40px;
    .btn.btn-circle {
      position: absolute;
      width: 58px;
      height: 58px;
      top: 40px;
      right: -70px;
      background: variables.$primary-dark;
      svg {
        path {
          stroke: #fff !important;
        }
      }
    }
  }

  &__dropdown {
    margin-top: 24px;
    display: grid;
    gap: 8px;

    li {
      a {
        color: #b5c3dc;
        font-size: 13px;
      }
    }
  }
  &__item {
    padding: 24px 16px;
    border-bottom: 1px solid #2b3c5e;
    max-height: 89px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    &.opened {
      max-height: 1000px;
      transition: max-height 0.3s ease-in;
      button {
        transform: rotate(180deg) translateY(0);
      }
    }
    a {
      color: #fff;
      width: 100%;
    }
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.catalog-button {
  transition: width 0.3s, padding 0.3s;
}

body.opened {
  .catalog-header {
    opacity: 1;
    pointer-events: all;
  }
  .main {
    grid-template-columns: 20% 80%;
  }
  .catalog-button {
    width: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}
