/* Десктоп */
h1 {
  font-size: 64px;
  line-height: 100%;
  // font-family: "Candara";
}
h2 {
  font-size: 56px;
  line-height: 100%;
  // font-family: "Candara";
}
h3 {
  font-size: 48px;
  line-height: 100%;
  // font-family: "Candara";
}
h4 {
  font-size: 32px;
  line-height: 100%;
  // font-family: "Candara";
}
h5 {
  font-size: 28px;
  line-height: 100%;
  // font-family: "Candara";
}
