.accordion {
  &__row {
    display: grid;
    gap: 16px;

    &.accordion-col-2 {
      grid-template-columns: 1fr 1fr;
      @media (max-width: $bp-sm) {
        grid-template-columns: 1fr !important;
      }
    }
  }
  &__item {
    background-color: #fff;
    height: max-content;
    border-radius: $small-radius;

    &-column {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-header {
      line-height: 100%;
      padding: 16px;
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: space-between;
      cursor: pointer;

      &:after {
        content: "";
        transform: rotate(45deg);
        border: solid $primary-light;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transition: 0.2s;
        margin-top: -6px;
      }
      &.active {
        &:after {
          transform: rotate(224deg) translateY(-5px) translateX(-4px);
        }
      }
    }
    &-content {
      height: 0;
      max-height: max-content;
      opacity: 0;
      overflow: auto;

      pointer-events: none;
      transition: all 0.5s ease-in-out;

      &.opened {
        height: 1000px;
        opacity: 1;
        pointer-events: all;
      }

      &__wrap {
        padding: 0 24px 24px 24px;
      }
    }
  }
}
