.form {
  &__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  input,
  textarea {
    background-color: $secondary-light-gray;
    padding: 18px 24px;
    border-radius: 100px;
    border: 1px solid $secondary-light-gray;
    color: $primary-dark;
    font-weight: 500;
    width: 100%;
    transition: 0.2s;
    &:focus {
      border-color: $primary-dark;
    }
    &::placeholder {
      color: $secondary-gray;
    }
  }

  textarea {
    border-radius: $primary-radius;
    @media (max-width: $bp-sm) {
      border-radius: $small-radius;
    }
  }

  &.dark {
    input {
      background-color: transparent;
      color: #fff;
      &:focus {
        border-color: $blue-light;
      }
    }
    label {
      color: #fff;
    }

    .custom-select {
      button {
        background-color: transparent;
        color: $secondary-gray;
        &:after {
          border-color: #fff;
        }
        &.active {
          border-color: $blue-light;
        }
        &.selected {
          color: #fff;
        }
      }
    }

    .custom-checkbox {
      .checkmark {
        background: #fff;

        &:after {
          border-color: $primary-dark;
        }
      }

      input:checked + .checkmark {
        background-color: #fff;
        border-color: #fff;
      }
    }
  }

  .custom-select {
    button {
      color: $secondary-gray;
    }
  }
  label:not(.btn) {
    font-size: 15px;
    padding: 0px 0 0 24px;
    font-weight: 500;

    display: inline-block;
    margin-bottom: 6px;
  }

  .custom-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    label {
      padding: 0;
      margin: 0;
      font-size: 15px;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      width: 100%;
    }

    .radio-mark {
      position: relative;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      margin-right: 10px;
      transition: 0.2s;
      border: 4px solid $secondary-light-gray;
    }

    input:hover + .radio-mark,
    input:focus + .radio-mark {
      background: $blind-gray;
    }

    input:checked + .radio-mark {
      background: $primary-dark;
    }
  }

  &-auth {
    max-width: 500px;
    margin: auto;

    background: #fff;
    padding: 40px;
    border-radius: $primary-radius;
    @media (max-width: $bp-sm) {
      padding: 16px;
    }
  }
}
