.table-container {
  // border: 1px solid $neutral-color;
  border-radius: 4px;
  overflow-x: auto;
  width: 100%;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      border-bottom: 2px solid $primary-blue;
    }

    tr {
      background-color: #fff;
      &:nth-child(odd) {
        background-color: #f2f5f8;
      }
    }

    th,
    td {
      padding: 12px 16px;
      @media (max-width: $bp-sm) {
        font-size: 12px;
      }
    }
    th {
      font-weight: 700;
      // background-color: $neutral-color;
    }
    td {
      &:not(:first-child) {
        text-align: center;
      }
    }

    .cart-product-controls {
      width: max-content;
      margin: auto;
    }
  }
}
