* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;

  color: $primary-dark;

  font-family: "Montserrat";
  font-size: 16px;
}

/* Убираем стрелки в Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
svg {
  min-width: max-content;
}
body {
  background-color: #eef2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: "Candara";
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
  @media (max-width: $bp-sm) {
    font-size: 33px;
    margin-bottom: 24px;
  }
}

img {
  width: 100%;
}

table {
  border-collapse: collapse;
}

.container {
  padding: 0 40px;
  width: 100%;
  max-width: 1840px;
  margin: 0 auto;
  @media (max-width: $bp-sm) {
    padding: 0 16px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

.text-content {
  max-width: 1530px;
  margin: auto;
  margin-bottom: 24px;
  @media (max-width: $bp-xs) {
    margin-bottom: 16px;
  }
  h2 {
    margin-bottom: 16px;
  }
  li {
    list-style: disc;
    margin-left: 35px;
  }
  p,
  li {
    font-size: 17px;
    line-height: 130%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @media (max-width: $bp-xs) {
      font-size: 13px;
      line-height: 110%;
    }
  }
}

// >>> swiper button
.swiper-button-wrap {
  position: absolute;
  top: 50%;
  &.left {
    left: 0;
    // .arrow-bg {
    //   left: -1px;
    // }
  }
  &.right {
    right: 0;
    .arrow-bg {
      left: -62px;
      @media (max-width: $bp-xs) {
        left: -34px;
      }
    }
  }
  .arrow-bg {
    // width: 100px;
    position: absolute;
    z-index: 3;
    top: -62px;
    @media (max-width: $bp-xs) {
      width: 35px;
      top: -46px;
      height: 72px;
    }
  }
}
.swiper-button-prev {
  left: 1px !important;
  top: -4px !important;
}
.swiper-button-next {
  right: 1px !important;
  top: -4px !important;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #fff;
  border: none;
  width: 58px;
  height: 58px;
  min-width: 58px;
  min-height: 58px;
  border-radius: 100%;
  position: relative;

  box-shadow: 0px 3px 15px 0px #18264126;

  &:after {
    display: none;
  }
  svg {
    width: auto !important;
    height: auto !important;
    z-index: 1;
  }

  @media (max-width: $bp-xs) {
    width: 31px;
    height: 31px;
    min-width: 31px;
    min-height: 31px;
    max-width: 31px;
    max-height: 31px;
  }
}
// <<< swiper button

// .main {
//   display: grid;
//   grid-template-columns: 0 100%;
//   width: 100%;
//   transition: 0.3s;
//   max-width: 1840px;
//   margin: auto;
//   &__content {
//     width: 100%;
//     background-color: #eef2f5;
//   }
// }

.loading {
  pointer-events: none;
  opacity: 0.7;
}
