@import "./cart-controls.scss";
@import "./elements.scss";
@import "./versions/v3.scss";
@import "./versions/v4.scss";

.product-card {
  flex-shrink: 0;

  //   min-width: 368px;
  //   max-width: 368px;
  padding: 24px;
  background: #fff;
  border-radius: $primary-radius;
  position: relative;

  display: flex;
  flex-direction: column;

  @media (max-width: $bp-md) {
    padding: 8px 8px 12px;
  }

  &__controls {
    display: grid;
    text-align: center;
    gap: 16px;
  }
  &__image {
    height: 268px;
    margin-bottom: 24px;
    background-color: $light-gray;
    border-radius: $primary-radius;
    @media (max-width: $bp-xs) {
      height: 115px;
      margin-bottom: 8px;
    }
  }
  &__title {
    margin-bottom: 16px;
    @media (max-width: $bp-xs) {
      margin-bottom: 8px;
    }
  }

  &__top {
    position: absolute;
    right: 24px;
    top: 12px;
    display: flex;
    gap: 6px;
    @media (max-width: $bp-xs) {
      right: 8px;
    }
    button {
      width: 72px;
      background-color: #ffffff93;
      @media (max-width: $bp-xs) {
        padding: 0;
        width: max-content;
        border: none;
        background-color: none;
      }
    }
  }

  &__options {
    margin-bottom: 24px;
    display: grid;
    gap: 10px;
    @media (max-width: $bp-xs) {
      display: none;
    }
  }
  &__option-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    span {
      font-size: 15px;
    }
    span:not(.delimiter) {
      background-color: #fff;
      z-index: 1;
    }
    .delimiter {
      position: absolute;
      width: 100%;
      border-bottom: 1px dashed $blind-gray;
      bottom: 3px;
    }
  }

  .product-price {
    margin-bottom: 24px;
    @media (max-width: $bp-xs) {
      margin-bottom: 16px;
    }
  }

  .cart-product-controls {
    @media (min-width: $bp-xs) {
      width: calc(50% - 4px);
    }
  }
}
