.product-card--v3 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 8px;
  background: #fff;
  @media (max-width: $bp-sm) {
    gap: 8px;
    align-items: normal;
  }
  &-image {
    width: 104px;
    height: 104px;
    background: $light-gray;
  }
  &-content {
    display: flex;
    gap: 8px;
    flex-direction: column;
    height: 100%;
    padding: 8px 0;
    &-info {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      @media (max-width: $bp-sm) {
        gap: 4px;
      }
      li {
        color: $secondary-gray;
        @media (max-width: $bp-sm) {
          font-size: 13px;
        }
      }
    }
  }

  &-cart-info {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: auto;
    .btn-bucket {
      padding: 15px;
    }
  }

  .custom-checkbox {
    position: absolute;
    top: 8px;
    left: 8px;
  }
}
